POSTGRES_URL=postgres://user:pass@localhost:5432/circleoflife
AWS_ACCESS_KEY_ID=your_key
AWS_SECRET_ACCESS_KEY=your_secret
S3_BUCKET_NAME=circle-of-life-bucket

DB_NAME=circleoflife
DB_USER=admin
DB_PASSWORD=nimda
DB_HOST=postgres   # 👈 important!
DB_PORT=5432
