# Python cache & build
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
build/
dist/

# Virtual environments
venv/
.env/
.envrc
.venv/
pip-wheel-metadata/

# Environment files
*.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS-specific files
.DS_Store
Thumbs.db

# IDE settings
.vscode/
.idea/

# Logs
*.log

# Database & temp files
*.sqlite3
*.db
